<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h2>Добавить нового пользователя</h2>
<br>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <input th:text="'Фамилия'" th:field="*{surname}">
    <br>
    <input th:text="'Имя'" th:field="*{name}">
    <br>
    <input th:text="'Возраст'" th:field="*{age}" type="number">
    <br>
<!--    <ul>-->
<!--        <li th:each="role : ${roles}" th:text="${role.roleName}" th:type="checkbox"/>-->
<!--    </ul>-->
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.roleName}"
                   th:value="${role.roleId}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Добавить">
</form>
<br>
<!--<h3 th:href="@{/admin}" th:text="${Вернуться к списку пользователей}"></h3>-->

</body>
</html>