<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<p th:text="'Логин: ' + ${user.username}"/>
<p th:text="'Пароль (закодированный): ' + ${user.password}"/>
<p th:text="'Роль: '"/>
<li th:each="role : ${user.roles}" th:text="${role.roleName}"></li>
<p th:text="'Фамилия: ' + ${user.surname}"/>
<p th:text="'Имя: ' + ${user.name}"/>
<p th:text="'Возраст: ' + ${user.age}"/>

<br>
<form th:action="@{/logout}"><input th:type="submit" th:value="'Выйти из системы'"></form>

</body>
</html>